@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="~/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" />
    @*Font Awesome Cdn*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        footer {
            padding: 10px 0;
            text-align: center;
            position: relative;
            bottom: 0;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <a class="navbar-brand text-dark
fs-4 fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-pills me-2"></i>MediShare
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                   
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                @if (!string.IsNullOrEmpty(ViewBag.ProfilePictureUrl))
                                {
                                    <img src="@Url.Content(ViewBag.ProfilePictureUrl)" alt="image" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" />
                                    <span class="availability-status online ps-2">Online</span>
                                }
                                else
                                {
                                    <i class="fa-solid fa-user-tie"></i>
                                }
                            </div>
              
                            <div class="nav-profile-text">
                                <p class="font-weight-bold mb-2">
                                    @((UserManager.GetUserName(User)?.Split('@')[0]) is string name && name.Length > 0
                                        ? char.ToUpper(name[0]) + name.Substring(1)
                                        : "")
                                </p>
                            </div>

                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">                          
                            <form class="dropdown-item p-0 m-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn dropdown-item text-start">
                                    <i class="mdi mdi-logout me-2 text-primary"></i> Signout
                                </button>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
  
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-img">
                                @if (!string.IsNullOrEmpty(ViewBag.ProfilePictureUrl))
                                {
                                    <img src="@Url.Content(ViewBag.ProfilePictureUrl)" alt="image" style="width: 40px; height: 50px; border-radius: 50%; object-fit: cover;" />
                                }
                                else
                                {
                                    <i class="fa-solid fa-user-tie"></i>
                                }
                            </div>

                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">
                                    @((UserManager.GetUserName(User)?.Split('@')[0]) is string email && email.Length > 0
                                        ? char.ToUpper(email[0]) + email.Substring(1)
                                        : "")
                                </span>
                                <span class="text-secondary text-small">@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</span>

                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    @{
                        var role = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
                    }

                    @if (role == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">
                                <span class="menu-title">Dashboard</span>
                                <i class="mdi mdi-home menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="UserList">
                                <span class="menu-title">Registered User</span>
                                <i class="fa-solid fa-user menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="NgoList">
                                <span class="menu-title">NGO</span>
                                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="DonorList">
                                <span class="menu-title">Donor</span>
                                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Tables">
                                <span class="menu-title">Medicine Request</span>
                                <i class="mdi mdi-table-large menu-icon"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#reportsSubmenu" role="button" aria-expanded="false" aria-controls="reportsSubmenu">
                                <span class="menu-title">Reports</span>
                                <i class="mdi mdi-chart-bar menu-icon"></i>
                                <i class="fa fa-chevron-down" id="arrowIcon"></i>
                            </a>
                            <div class="collapse" id="reportsSubmenu">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center justify-content-between" asp-controller="Admin" asp-action="DonatedMedicine">
                                            Donated Medicine
                                            <i class="fa-solid fa-pills ms-4"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center justify-content-between" asp-controller="Admin" asp-action="WithdrawHistory" asp-route-id="Id">
                                            Withdraw History
                                            <i class="fas fa-arrow-circle-down ms-4"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                    }
                  
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="UserProfileindex" >
                            <span class="menu-title">My Profile</span>
                            <i class="fa-solid fa-user menu-icon"></i>
                        </a>
                    </li>

                    @if(role == "NGO"){
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ngo" asp-action="EmergencyRequest">
                                <span class="menu-title">Emergency request</span>
                                <i class="fas fa-hands-helping menu-icon"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ngo" asp-action="MedicineStock">
                                <span class="menu-title">Medicine Stock</span>
                                <i class="mdi mdi-table-large menu-icon"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ngo" asp-action="NGOHistory">
                                <span class="menu-title">My history</span>
                                <i class="fa-solid fa-clipboard-list menu-icon"></i>
                            </a>
                        </li>
                    }
                    @if (role == "Donor")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Donor" asp-action="DonationRequest">
                                <span class="menu-title">Donation request</span>
                                <i class="fas fa-hand-holding-medical menu-icon"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Donor" asp-action="GetEmergencyRequest">
                                <span class="menu-title">Emergency Request</span>
                                <i class="fa-solid fa-bell menu-icon"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Donor" asp-action="NgoWithdrawHistory" asp-route-id="Id">
                                <span class="menu-title">NGO's Withdrawing History</span>
                                <i class="fas fa-arrow-circle-down menu-icon"></i>         
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Donor" asp-action="DonorHistory">
                                <span class="menu-title">My history</span>
                                <i class="fa-solid fa-clipboard-list menu-icon"></i>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-home"></i>
                            </span>
                            @ViewData["Title"]
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    <span></span>Overview
                                    <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Place main content here -->
                    @RenderBody()
                </div>

                <footer class="border-top footer text-muted bg-light">
                    <div class="container-fluid">
                        <i class="fa-regular fa-copyright"></i> @DateTime.Today.Year - Online_Medicine_Donation -
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admin/assets/vendors/chart.js/chart.umd.js"></script>
    <script src="~/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/assets/js/off-canvas.js"></script>
    <script src="~/admin/assets/js/misc.js"></script>
    <script src="~/admin/assets/js/settings.js"></script>
    <script src="~/admin/assets/js/todolist.js"></script>
    <script src="~/admin/assets/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admin/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
