@model Online_Medicine_Donation.ViewModel.CombinedRequestVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Donated Medicine";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.3/css/buttons.dataTables.css">

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="donatedMedicine">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Medicine Type</th>
                        <th>Medicine Condition</th>
                        <th>Expiry Date</th>
                        <th>Donor Name</th>
                        <th>Donor Address</th>
                        <th>Donor Contact</th>
                        <th>Donation Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DonationRequests != null)
                    { @foreach (var item in Model.DonationRequests)
                        {
                            var expiry = item.ExpiryDate.GetValueOrDefault();
                            var isExpired = expiry < DateTime.Now;
                            var daysLeft = (expiry - DateTime.Now).TotalDays;
                            var isExpiringSoon = daysLeft <= 7 && !isExpired;

                            var rowClass = "";

                            if (isExpired)
                            {
                                rowClass = "table-danger text-danger";
                            }
                            else if (isExpiringSoon)
                            {
                                rowClass = "table-warning text-danger";
                            }
                            else
                            {
                                rowClass = "";
                            }


                            <tr class="@rowClass">
                                <td>@item.Name</td>
                                <td>@item.Quantity</td>
                                <td>@item.Type</td>
                                <td>@item.Condition</td>
                                <td>@expiry.ToShortDateString()</td>
                                <td>@item.FullName</td>
                                <td>@item.Address</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.DonationTime</td>
                                <td>
                                   
                                    <span class="btn btn-sm disabled bg-success text-white">@item.Status</span>

                                </td> 
                               
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>


@section Scripts
{
    <script>
        new DataTable('#donatedMedicine', {
            layout: {
                topStart: {
                    buttons: ['pdf']
                }
            }
        });
    </script>
}