@model Online_Medicine_Donation.ViewModel.CombinedRequestVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="text-center">Donation Request</h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DonationRequests)
                    {
                        <tr>
                            <td>@item.donationRequest.Name</td>
                            <td>@item.donationRequest.Quantity</td>
                            <td>@item.donationRequest.Type</td>
                            <td>
                                @if (item.donationRequest.Status == "Accepted")
                                {
                                    <span class="btn btn-sm disabled bg-success text-white">Accepted</span>

                                }
                                else if (item.donationRequest.Status == "Rejected")

                                {
                                    <span class="btn btn-sm disabled bg-danger text-white">Rejected</span>
                                }
                                else
                                {
                                    <form action="/Donor/AcceptRequest" method="post" style="display:inline;">
                                        <input type="hidden" name="Id" value="@item.donationRequest.Id" />
                                        <input type="submit" class="btn btn-sm btn-success" value="Accept" />
                                    </form>

                                    <form action="/Donor/RejectRequest" method="post" style="display:inline;">
                                        <input type="hidden" name="Id" value="@item.donationRequest.Id" />
                                        <input type="submit" class="btn btn-sm btn-danger" value="Reject" />
                                    </form>
                                }
                                
                                <form action="/Admin/MedicineDetails" method="get" style="display:inline;">
                                    <input type="hidden" name="Id" value="@item.donationRequest.Id" />
                                    <input type="submit" class="btn btn-sm btn-primary" value="Details" />
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<h1 class="text-center">Emergency Request</h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>NGO Name</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Type</th>
                        <th>Request's reason</th>
                        <th>When to deliver</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EmergencyRequests)
                    {
                        <tr>
                            <td>@item.emergencyRequest.NgoName</td>
                            <td>@item.emergencyRequest.MedicineName</td>
                            <td>@item.emergencyRequest.Quantity</td>
                            <td>@item.emergencyRequest.Type</td>
                            <td>@item.emergencyRequest.Reason</td>
                            <td>@item.emergencyRequest.Days</td>
                            <td>
                                @if (item.emergencyRequest.Status == "Accepted")
                                {
                                    <span class="btn btn-sm disabled bg-success text-white">Accepted</span>

                                }
                                else if (item.emergencyRequest.Status == "Rejected")
                                {
                                    <span class="btn btn-sm disabled bg-danger text-white">Rejected</span>
                                }
                                else
                                {
                                    <form action="/Admin/AcceptRequest" method="post" style="display:inline;">
                                        <input type="hidden" name="EmergencyId" value="@item.emergencyRequest.Id" />
                                        <input type="submit" class="btn btn-sm btn-success" value="Accept" />
                                    </form>

                                    <form action="/Admin/RejectRequest" method="post" style="display:inline;">
                                        <input type="hidden" name="EmergencyId" value="@item.emergencyRequest.Id" />
                                        <input type="submit" class="btn btn-sm btn-danger" value="Reject" />
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
