@model IEnumerable<Online_Medicine_Donation.DataModel.WithdrawRequest>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "NGO's Withdraw History";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="withdrawHistory">
                <thead>
                    <tr>
                        <th>Ngo Name</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Withdraw Time</th>
                        <th>Purpose</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NgoName</td>
                            <td>@item.MedicineName</td>
                            <td>@item.Quantity</td>
                            <td>@item.WithdrawTime.GetValueOrDefault().ToShortDateString()</td>
                            <td>@item.Purpose</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <script>
        new DataTable('#withdrawHistory');
    </script>
}

