@model Online_Medicine_Donation.ViewModel.CombinedRequestVM

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "My Donation History";

}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="donorHistory">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Pharmaceutical company</th>
                        <th>Type</th>
                        <th>Condition</th>
                        <th>Expiry date</th>
                        <th>Selected NGO</th>
                        <th>Donation Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DonationRequests)
                    {
                        <tr>
                            <td>@item.donationRequest.Name</td>
                            <td>@item.donationRequest.Quantity</td>
                            <td>@item.donationRequest.Company</td>
                            <td>@item.donationRequest.Type</td>
                            <td>@item.donationRequest.Condition</td>
                            <td>@item.donationRequest.ExpiryDate</td>
                            <td>@item.donationRequest.SelectNgo</td>
                            <td>@item.donationRequest.DonationTime</td>
                           
                            <td>
                                @if (item.donationRequest.Status == "Accepted")
                                {
                                    <span class="btn btn-sm disabled bg-success text-white">Accepted</span>

                                }
                                else if (item.donationRequest.Status == "Rejected")
                                {
                                    <span class="btn btn-sm disabled bg-danger text-white">Rejected</span>
                                }
                                else
                                {
                                    <form action="/Admin/AcceptRequest" method="post" style="display:inline;">
                                        <input type="hidden" name="EmergencyId" value="@item.donationRequest.DonationId" />
                                        <input type="submit" class="btn btn-sm btn-info disabled" value="Pending" />
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <script>
        new DataTable('#donorHistory');
    </script>
}