@model Online_Medicine_Donation.ViewModel.CombinedRequestVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Get Emergency Request";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css">

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="getEmergencyRequest">
                <thead>
                    <tr>
                        <th>NGO Name</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Type</th>
                        <th>Request's reason</th>
                        <th>When to deliver</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EmergencyRequests)
                    {
                        <tr>
                            <td>@item.emergencyRequest.NgoName</td>
                            <td>@item.emergencyRequest.MedicineName</td>
                            <td>@item.emergencyRequest.Quantity</td>
                            <td>@item.emergencyRequest.Type</td>
                            <td>@item.emergencyRequest.Reason</td>
                            <td>@item.emergencyRequest.Days</td>
                            <td> 
                                 <form action="/Donor/DonationRequest" method="get" style="display:inline;">
                                    <input type="hidden" name="Id" value="@item.emergencyRequest.Id" />
                                    <input type="submit" class="btn btn-sm btn-success" value="Donate Now!" />
                                </form> 
                             </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <script>
        new DataTable('#getEmergencyRequest');
    </script>
}
